# Git
.git
.gitignore
.gitattributes

# IDE
.idea
.vscode
*.iml

# Maven
target/
!target/*.jar

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Documentation
README.md
HELP.md

# Docker
Dockerfile
.dockerignore

# Environment files
.env
*.env 