option_settings:
  aws:elasticbeanstalk:application:environment:
    SPRING_PROFILES_ACTIVE: prod
    SERVER_PORT: 8080
    JAVA_OPTS: "-Xmx1024m -Xms512m -XX:+UseG1GC"
  
  aws:elasticbeanstalk:container:java:
    Xms: 512m
    Xmx: 1024m
  
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx
  
  aws:autoscaling:launchconfiguration:
    InstanceType: t3.small
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
  
  aws:elasticbeanstalk:environment:
    EnvironmentType: LoadBalanced
    LoadBalancerType: application 